
body{
    background-color: #0c0b12;
    color: whitesmoke;
    margin: 0 0;

}

.body{
   margin: 3px auto!important 
}

.send{
    padding:1px!important;
    font-size: 1em
}
.makeStyles-root-8 {
    width: 100%;
    max-width: 100%;
    background-color: #fff;
    padding: 0!important;
}

.MuiTypography-body1 {
    font-size: 1rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.00938em;
    color: antiquewhite;
}

.message-list > .MuiTypography-body1 {
    font-size: 1rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.00938em;
    color: navy;
}
.topic{
    color: antiquewhite;
    margin: 10px 0;
}

.MuiTypography-displayBlock {
    display: block;
    color: navy;
}

.MuiTypography-colorTextSecondary {
    color:black!important;
}

.makeStyles-navbarDisplayFlex-4 {
    display: flex;
    justify-content: space-between;
    background: #08294d;
}

.drawList > .MuiTypography-displayBlock {
    display: block;
    color: #0c0b12!important;
    font-weight: bolder
}

.cardHeader .MuiPaper-root {
    color: rgba(0, 0, 0, 0.87);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    background-color: #fff;
    display: none!important
}

.MuiToolbar-regular {
    min-height: 56px;
    background: #08294d;
}

.makeStyles-root-12 {
    width: 100%;
    max-width: 100%;
    background-color: #fff;
    padding: 0;
}
.drawer > .MuiTypography-body1 {
    font-size: 1rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.00938em;
    display: none!important;
}






.Loading {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #444;
    border-radius: 50%;
    width: 20vh;
    height: 20vh;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .Feed {
    margin: auto;
    padding: 1% 1%;
  }
  
  .Feed a img {
    margin: 1% 1%;
    width: 23%;
    float: left;
    animation: fadein 3s;
  }
  
  @keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }


  .footer{
    min-height: 120px;
    background-color: #08294d;
    margin-top: 100px;
    color: antiquewhite
  }